main {
  margin: auto;
  max-width: 84ch;
}

main > * + * {
  margin-block-start: 1.5em;
}

summary {
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: max-content minmax(0, 1fr);
  gap: 10px;
}

.grid button {
  grid-column-start: 2;
  width: max-content;
}

.blocks-example {
  max-width: max-content;
  margin: auto;
}
